Flask
itsdangerous
Jinja2
MarkupSafe
Werkzeug
click
colorama
tensorflow
flask_restful
gunicorn
firebase_admin
scann
tensorflow
tensorflow_hub
pandas
numpy
datetime
tensorflow-datasets
tensorflow_recommenders